 .Contact__content{
    width: 50%;
    height: 80%;
    display: flex;
    margin-top: 0vh;
    flex-direction: row;
    justify-content: initial;
    align-items:initial;
    position: initial;
    z-index: 2;
}
 
.Contact__info{
    background-color: #7E6659;
    border-radius: 10px;
    width: 100vh;
    height: 40vh;
    text-align: left;
    color: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: initial;
    margin-left: 50vh;
    margin-top: 30vh;
}
 
p{
    font-size: 23px;
}
.questions__content{
    margin: 1em;
    text-align: center;
    color: #ffffff;
}
 
.Farm_email{
    color: rgb(20, 12, 5);
    margin-top: 30px;
}