.main-footer {
    color: white;
    background-color: #140C05;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top:100px;
  }

.img {
  margin-left: 50px;
  width: 230px; height: 140px;
}

.social-img{
  width: 70px; height: 70px;
  margin-right: 10px;
  margin-left: 50px;
  margin-top:20px;
}
  



