.Navbar {
    display: flex;
    align-content: center;
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: rgb(20, 12, 5);
    z-index: 2;
}

.Navbar img {
    margin: 12px 0 10px 20px;
    height: 30px;
}

.Navbar__transparent {
    display: flex;
    align-content: center;
    height: 8vh;
    width: 100%;
    background-color: rgba(20, 12, 5, 0.80);
    position: absolute;
    z-index: 2;
}

.Navbar__transparent img {
    margin: 12px 0 10px 20px;
    height: 50px;
}